

.form {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.form button {
    cursor: pointer;
    background-color: #6b069a;
    border: 1px solid #6b069a;
    color: #fff;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

