

.input{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}

.input label {
    font-weight: bold;
}

.input input {
    width: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10%;
    font-size: 15px;
}